<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Find_my_bank</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> <!-- Icons -->
    
    </head>

    <body>
        <nav>
            <div class="container nav-wrapper">
                <a href="/" class="brand-logo">Find My Bank</a>
                <ul id="nav-mobile" class="right">
                    <li><a href="/">Home</a></li>
                </ul>
            </div>
        </nav>

        <div class="container">
            <h2 style="text-align: center;">    
                Enter the required details to get your Bank Information..
            </h2>
            <div class="row">
                <div class="col s6">
                    <div class="center">
                        <i class="large material-icons" style="color: #EE6E73">flash_on</i>
                        <p>Find Your Bank Details Faster</p>
                        <p class="light center">Presents Data with a Beautiful GUI</p>
                    </div>

                </div>

                <div class="col s6">
                    <div class="center">
                        <i class="large material-icons" style="color: blue">mood</i>
                        <p>An Interactive UI</p>
                        <p class="light center">Built this with ❤️</p>
                        
                    </div>
                </div>

            </div>

            <h4 style="margin-bottom: 30px;" >
                Choose The Opitons:
            </h4>

            <label>
                <input name="group1" onclick="ByIFSC()" type="radio" checked />
                <span>Search Using IFSC Code</span>
            </label>
              &nbsp;
              &nbsp;
            <label>
                <input name="group1" onclick="ByNameandCity()" type="radio" />
                <span>Search using Bank Name and City</span>
            </label>

            <div id="byIFSC" class="pt-4">
                <form action="/bankByIFSC" class="form-inline"  method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="text" id="ifsc" class="form-control" name="IFSCcode" placeholder="Enter IFSC Code">
                    </div>

                    <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                        <i class="material-icons right">send</i>
                    </button>
                </form>
            </div>

            <div id="byNameCity" style="display: none;" class="pt-4">
                <form class="form" action="/bankByNameandCity" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="text" id="bank_name" class="form-control" name="BankName" placeholder="Enter Bank Name">   
                    </div>
                    <div class="form-group">
                        <input type="text" id="city" class="form-control" name="City" placeholder="Enter City Name">   
                    </div>
                    <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                        <i class="material-icons right">send</i>
                    </button>
                </form>

            </div>


        </div>

        {% block content %}

        {% endblock content %}

    </body>

    <script>
        function ByIFSC(){
            console.log('In function');
            var element = document.getElementById('byIFSC');
            if(element.style.display==="none")
            {
                document.getElementById('byNameCity').style.display="none";
                element.style.display="block";
            }
        }

        function ByNameandCity(){
            console.log('In Function');
            var element = document.getElementById('byNameCity');
            if(element.style.display==="none")
            {
                document.getElementById('byIFSC').style.display="none";
                element.style.display="block";
            }

        }
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</html>