{% extends 'base.html' %}

{% block content %}

    {% if found_status %}
    <div class="container">
        <table class="table striped responsive-table">
            <thead>
                <tr>
                    <th>IFSC CODE</th>
                    <th>Branch Id</th>
                    <th>Branch</th>
                    <th>Branch Address</th>
                    <th>City</th>
                    <th>District</th>
                    <th>State</th>
                </tr>
            </thead>
            {% for row in list_of_banks %}

            <tr>
                <th> {{ row.ifsc_code }} </th>
                <td> {{ row.branchId }} </td>
                <td> {{ row.branch }} </td>
                <td> {{ row.branch_address }} </td>
                <td> {{ row.city}} </td>
                <td> {{ row.district }} </td>
                <td> {{ row.state }} </td>
            </tr>

            {% endfor %}
        </table> 
    </div>

    {% else %}
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="alert alert-danger">
                    <strong>Bank not found!</strong> Check for the credentials.
                </div>
            </div>
        </div>
    </div>  

    {% endif %}

{% endblock content %}